---
layout: page
title: "About"
description: ""
header-img: ""
---


<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        引用区
    </blockquote>
    中文版 敬请期待

</div>


<style>
.ds-share,
.ds-meta {
    visibility: hidden;
}
</style>
<hr class="hr-below-something">
{% if site.duoshuo-share && site.duoshuo-username %}
<!-- 多说 Share start -->
<div class="ds-share"
    style=""
    data-thread-key="{{page.id}}"
    data-title="{{page.title}}"
    data-url="{{site.url}}{{site.baseurl}}{{page.url}}"
    data-images=""
    data-content="| {{ site.SEOTitle }}" >
    <div class="pseudo-ds-meta"></div>
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-16">
        <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">Share to</a></li>
        <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">Weibo</a></li>
        <li> <a class="ds-twitter flat" href="javascript:void(0);" data-service="twitter">Twitter</a> </li>
      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
</div>
<!-- 多说 Share end-->
{% endif %}


<!-- 多说评论框 starts -->
{% if site.duoshuo-username %}
<div class="ds-thread"
     data-thread-key="{{page.id}}"
     data-title="{{page.title}}"
     data-url="{{site.url}}{{site.baseurl}}{{page.url}}">
</div>
{% endif %}
<!-- 多说评论框 ends -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

