---
layout: common-page
index: true
siteHeadingSmall: "Answer Codes"
description: "possible answers for assignments on Matrix"
---

<!-- index.html starts -->
{% for post in paginator.posts %}
<div class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <div class="post-titles">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">{{ post.subtitle }}</h3>
      {% endif %}
    </div>
    <p class="post-content-preview">{{ post.content | strip_html | truncate:200 }}</p>
  </a>
  <p class="post-meta">last edited by <span class="author">{% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}</span> on {{ post.update-date | date: "%Y-%m-%d" }}</p>
</div>
<hr>
{% endfor %}

<!-- buttons for newer or older posts -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.next_page %}
  <li class="previous">
    {% assign olderHref = (paginator.next_page_path | prepend: site.baseurl | append: "/") %}
    <a href="{{ olderHref | replace: '//', '/' }}">&larr; OLDER POSTS</a>
  </li>
  {% endif %}
  {% if paginator.previous_page %}
  <li class="next">
    {% assign newerHref = (paginator.previous_page_path | prepend: site.baseurl | append: "/") %}
    <a href="{{ newerHref | replace: '//', '/' }}">NEWER POSTS &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
<!-- index.html ends -->