<!-- comment.html starts -->
<hr class="hr-below-something">

{% if site.duoshuo-share && site.duoshuo-username %}
<!-- 多说 Share start -->
<div class="ds-share"
    style=""
    data-thread-key="{{page.id}}"
    data-title="{{page.title}}"
    data-url="{{site.url}}{{site.baseurl}}{{page.url}}"
    data-images=""
    data-content="| {{ site.SEOTitle }}" >
    <div class="pseudo-ds-meta"></div>
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-16">
        <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">Share on</a></li>
        <li><a class="ds-wechat flat" href="javascript:;" data-service="wechat">Wechat</a></li>
        <li><a class="ds-weibo flat" href="javascript:;" data-service="weibo">Weibo</a></li>
        <li> <a class="ds-twitter flat" href="javascript:;" data-service="twitter">Twitter</a> </li>
      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
</div>
<!-- 多说 Share end-->
{% endif %}


<ul class="pager">
    {% if page.previous.url %}
    <li class="previous">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="next">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
    </li>
    {% endif %}
</ul>

<!-- 多说评论框 starts -->
{% if site.duoshuo-username %}
<div class="ds-thread"
     data-thread-key="{{page.id}}"
     data-title="{{page.title}}"
     data-url="{{site.url}}{{site.baseurl}}{{page.url}}">
</div>
{% endif %}
<!-- 多说评论框 ends -->

<!-- disqus 评论框 start -->
{% if site.disqus-username %}
<div class="comment">
    <div id="disqus_thread" class="disqus-thread"></div>
</div>
{% endif %}
<!-- disqus 评论框 end -->


<!-- comment.html ends -->