<!-- Footer -->
<div id="backtotop">
  <div class="backtotop-btn">
    <div class="arrow-upward"></div>
    <div class="vertical-stick"></div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="footer
                  col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <!--
          <li>
              <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                  </span>
              </a>
          </li>
          -->
          {% for sites in site.SNS %}
          <li>
            <a href="{{ sites.url }}" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-{{ sites.site }} fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <p class="copyright text-muted">
          {% assign year = site.time | date: '%Y' %}
          Copyright &copy; Mensu 2016 - {% if year > "2016" %}{{ year }}{% endif %}
          <br/>
          Theme edited by <a href="https://github.com/Mensu">Mensu</a> |
          <iframe frameborder="0" scrolling="0" src="https://ghbtns.com/github-btn.html?user=Mensu&repo=mensu.github.io&type=star&count=true" >
          </iframe>
          <br/>
          forked from <a href="http://huangxuan.me">Hux</a> |
          <iframe frameborder="0" scrolling="0" src="https://ghbtns.com/github-btn.html?user=huxpro&repo=huxpro.github.io&type=star&count=true" >
          </iframe>
        </p>
      </div>
    </div>
  </div>
</footer>

<script class="site-options">
  var siteOptions;
  if (!siteOptions) siteOptions = {};

  // duoshuo
  {% if site.duoshuo-username %}
    window.duoshuoQuery = siteOptions.duoshuoQuery = {
      "short_name": "{{site.duoshuo-username}}"
    };
  {% endif %}

  // disqus
  {% if site.disqus-username %}
    siteOptions.disqus = {
      "page": {
        "url": '{{ site.url }}{{ page.url }}',
        "id": '{{ page.url }}'
      },
      "src": '//{{site.disqus-username}}.disqus.com/embed.js',
      "count": {
        "src": '//{{site.disqus-username}}.disqus.com/count.js',
        "async": true
      }
    };
  {% endif %}

  // mathjax
  {% if site.mathjax %}
    siteOptions.mathjax = true;
  {% endif %}

  // tagcloud
  {% if page.tagcloud %}
    siteOptions.tagcloud = true;
  {% endif %}
</script>

<script src="{{ "/js/outputs/commonpage.min.js" | prepend: site.baseurl }}"></script>
