---
layout: default
---

<!-- header -->
<header class="intro-header">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-heading">
        <div class="tags">
          {% for tag in page.tags %}
          <a class="tag" href="/tags.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>
        <h1>{{ page.title }}</h1>
        {% comment %}
            always create a h2 for keeping the margin , Hux
        {% endcomment %}
        {% comment %} if page.subtitle {% endcomment %}
        <h2 class="subheading">{{ page.subtitle }}</h2>
        {% comment %} endif {% endcomment %}
        <span class="meta">last edited by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.update-date | date: "%Y-%m-%d" }}</span>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article class="main-post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2
                      col-md-10 col-md-offset-1
                      post-container">
          <ul class="pager pager-top">
            {% if page.previous.url %}
            <li class="previous">
                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
                <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
            {% endif %}
        </ul>

          {{ content }}
          <a id="article-end-anchor"></a>
          {% include comment.html %}
          
      </div>
    <!-- Side Catalog Container -->

      <div class="
          col-lg-2 col-lg-offset-0
          visible-lg-block
          sidebar-container
          catalog-container">
          <div class="side-catalog">
              <h5>
                  <a class="catalog-toggle" href="#">CATALOG</a>
              </h5>
              <ul class="catalog-body"></ul>
          </div>
      </div>

      <!-- sidebar container -->
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
                sidebar-container">
        {% include featured-tags.html %}
        {% include friends.html %}
      </div>
    </div>
  </div>
</article>

<script class="site-options">
  var siteOptions;
  if (!siteOptions) siteOptions = {};
  {% if site.anchorjs %}
    // anchor-js, Doc: http://bryanbraun.github.io/anchorjs/
    siteOptions.useAnchors = true;
  {% endif %}
  {% if site.sidenav %}
    // sidenav, Doc: http://github.com/davist11/jQuery-One-Page-Nav
    siteOptions.useSideNav = {
      "onlyH1": false
    };
  {% endif %}
</script>

<script src="{{ "/js/outputs/post.min.js" | prepend: site.baseurl }}"></script>
