---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->

<!-- header -->
<header class="intro-header" >
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-heading">
        <div class="tags">
          {% for tag in page.tags %}
          <a class="tag" href="/tags.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>
        <h1>{{ page.title }}</h1>
        {% comment %}
            always create a h2 for keeping the margin , Hux
        {% endcomment %}
        {% comment %} if page.subtitle {% endcomment %}
        <h2 class="subheading">{{ page.subtitle }}</h2>
        {% comment %} endif {% endcomment %}
        <span class="meta">last edited by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.update-date | date: "%Y-%m-%d" }}</span>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2
                      col-md-10 col-md-offset-1
                      post-container">
          <ul class="pager pager-top">
            {% if page.previous.url %}
            <li class="previous">
                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
            {% endif %}
            {% if page.next.url %}
            <li class="next">
                <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
            {% endif %}
        </ul>

          {{ content }}
          <a id="article-end-anchor"></a>
          {% include comment.html %}
          
      </div>
    <!-- Side Catalog Container -->

      <div class="
          col-lg-2 col-lg-offset-0
          visible-lg-block
          sidebar-container
          catalog-container">
          <div class="side-catalog">
              <h5>
                  <a class="catalog-toggle" href="#">CATALOG</a>
              </h5>
              <ul class="catalog-body"></ul>
          </div>
      </div>

      <!-- sidebar container -->
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
                sidebar-container">
        {% include featured-tags.html %}
        {% include friends.html %}
      </div>
    </div>
  </div>
</article>


{% if site.anchorjs %}
<!-- async load function -->
<script>
  function async(u, c) {
    var d = document, t = 'script',
        o = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
    s.parentNode.insertBefore(o, s);
  }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
  async("https://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
    anchors.options = {
      visible: 'always',
      placement: 'right',
      icon: '#'
    };
    anchors.add('.post-container h1');
  })
</script>
{% endif %}

<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.nav.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/highlight.pack.js" | prepend: site.baseurl }}"></script>

<!-- highlight.js -->
<script type="text/javascript">
  $(document).ready(function() {
      var lanMap = {
        "language-kramdown": 'language-markdown',
        "language-git": 'language-bash'
      };
    $('div.highlighter-rouge').each(function(i, e) {
      var code = $(this).find('code');
      var result = $(this).attr('class').match(/language-[\w]{1,}/);
      // remove '\n'
      code.text(code.text().slice(0, -1));
      if (result) {
        var classToAdd = lanMap[result[0]] || result[0];
        code.addClass(classToAdd);
        hljs.highlightBlock(code[0]);
      } else {
        code.addClass('hljs');
        hljs.addLinenum(code[0]);
      }
    });
  });
  function generateCatalog(selector) {
      var P = $('div.post-container'),a,n,t,l,i,c;
      a = P.find('h1');
      a.each(function () {
          n = $(this).prop('tagName').toLowerCase();
          i = "#"+$(this).prop('id');
          t = $(this).text();
          c = $('<a href="'+i+'" rel="nofollow">'+t+'</a>');
          l = $('<li class="'+n+'_nav"></li>').append(c);
          $(selector).append(l);
      });
      return true;    
  }

  generateCatalog(".catalog-body");

  // toggle side catalog
  $(".catalog-toggle").click((function(e){
      e.preventDefault();
      $('.side-catalog').toggleClass("fold")
  }));

  $('.catalog-body').onePageNav({
    currentClass: "active",
    changeHash: !1,
    easing: "swing",
    filter: "",
    scrollSpeed: 700,
    scrollOffset: 100,
    scrollThreshold: 0,
    begin: null,
    end: null,
    scrollChange: null,
    endSelector: '#article-end-anchor',
    unbindSelector: null
  });
</script>

